{%  extends "novabase.html" %}
{%  block title %}Pregnancies{%  endblock  %}
{%  block subtitle %} CHWs {%  endblock  %}

{% block menu %}
 		  <li class="homelink">
            <a href='/dashboards/{{ nav.link("chw", view= "graphic") }}'><span>Statistics</span></a>
          </li>
          <li class="homelink">
            <a href='/dashboards/{{ nav.link("chwreg") }}'><span>Register</span></a>
          </li>
          <li class="homelink">
            <a href='/dashboards/{{ nav.link("chwtrail") }}'><span>CHW Trial</span></a>
          </li>
          <li class="homelink">
            <a href='/dashboards/{{ nav.link("chwstaff") }}'><span>Staff</span></a>
          </li>
	 <li class="homelink">
            <a href='/dashboards/{{ nav.link("chwamb") }}'><span>Ambulance</span></a>
          </li>   
	  <li class="homelink">
            <a href='/dashboards/{{ nav.link("updatechw") }}'><span>Update CHW</span></a>
          </li>
	  <li class="homelink">
            <a href='/dashboards/{{ nav.link("groupmessage") }}'><span>Group Messages</span></a>
          </li>     
{% endblock %}

{% block position %}
<li>&#187; <a href='/dashboards/{{ nav.link("chw", view= "graphic", minus = ["group"]) }}'>CHW Stats</a></li>
{% if group %}
<li> &#187; {{ group }}</li>
{% endif %}
{% endblock %}


{%  block mainpart  %}
  <div class="smallcontainer" style="padding-top:50px;">
    <img class="icon" src="{{  static_path }}/images/chwphone.png" />
    <div class="infoname" style="font-size: 20px;">Total Number of CHWs</div>
    <div class="moretotal" ><a href="{{ nav.link('/tables/chw', summary = 'on')}}">View by Location</a></div>
    <div class="infodata goodnum">
      <a href="{{ nav.link('/tables/chw')}}">{{display.chws[0]['total']|neat_numbers}}</a>
    </div>

  </div>
  
  <div class="humblecontainer">

  	<div class="infoname" style="padding-left:20px; padding-top:10px; padding-bottom: 20px;">
		ASM {{display.chws[0]['role_id1']|neat_numbers}}  ({{ display.avg(display.chws[0]['role_id1'], display.chws[0]['total']) }})
	</div>
    <div class="datapoint chwcircle" style="margin-left:80px;width:260px;height:260px;">
	<div class="infoname" style="margin-left:80px; margin-top:70px">Active </div>
    	<div class="number"><a href="{{ nav.link('/tables/chw', view = 'log', subcat = 'activeasm' )}}">
				{{display.chws[0]['activeasm']|neat_numbers}}</br>
				({{ display.avg(display.chws[0]['activeasm'], display.chws[0]['role_id1']) }})
			</a>
	</div>
    </div>

    <div class="datapoint inactivecircle" style="margin-left:80px;width:260px;height:260px;" >
    <div class="infoname" style="margin-left:80px; margin-top:70px">Inactive</div>
    		<div class="number">
		<a href="{{ nav.link('/tables/chw', view = 'log', subcat = 'inactiveasm' )}}">{{display.chws[0]['inactiveasm']|neat_numbers}}</br>
			({{ display.avg(display.chws[0]['inactiveasm'], display.chws[0]['role_id1']) }})
		</a>
		</div>
	</div>

  </div>

  <div class="humblecontainer">

	<div class="infoname" style="padding-left:20px; padding-top:30px; padding-bottom: 20px;">
		BINOME {{display.chws[0]['role_id2']|neat_numbers}}({{ display.avg(display.chws[0]['role_id2'], display.chws[0]['total']) }})
	</div>
	<div class="datapoint chwcircle" style="margin-left:80px;width:260px;height:260px;" >
    <div class="infoname" style="margin-left:80px; margin-top:70px">Active</div>
    <div class="number"><a href="{{ nav.link('/tables/chw', view = 'log', subcat = 'activebinome' )}}">{{display.chws[0]['activebinome']|neat_numbers}}</br>
			({{ display.avg(display.chws[0]['activebinome'], display.chws[0]['role_id2']) }})
		</a>
		</div>
	</div>
 	<div class="datapoint inactivecircle" style="margin-left:80px;width:260px;height:260px;" >
    <div class="infoname" style="margin-left:80px; margin-top:70px">Inactive</div>
    <div class="number"><a href="{{ nav.link('/tables/chw', view = 'log', subcat = 'inactivebinome' )}}">{{display.chws[0]['inactivebinome']|neat_numbers}}</br>
			({{ display.avg(display.chws[0]['inactivebinome'], display.chws[0]['role_id2']) }})
		</a>
		</div>
    </div>


  </div>

{%  endblock  %}
