{%  extends "novabase.html" %}
{%  block title %}Pregnancies{%  endblock  %}
{%  block subtitle %} CHWs {%  endblock  %}

{% block menu %}
 		  <li class="homelink">
            <a href='/dashboards/{{ nav.link("chw", view= "graphic") }}'><span>Statistics</span></a>
          </li>
          <li class="homelink">
            <a href='/dashboards/{{ nav.link("chwreg") }}'><span>Register</span></a>
          </li>
          <li class="homelink">
            <a href='/dashboards/{{ nav.link("chwtrail") }}'><span>CHW Trial</span></a>
          </li>
          <li class="homelink">
            <a href=''><span>Staff</span></a>
          </li>          
{% endblock %}

{% block position %}
<li>&#187; <a href='/dashboards/{{ nav.link("chw", view= "graphic", minus = ["group"]) }}'>CHW Stats</a></li>
{% if group %}
<li> &#187; {{ group }}</li>
{% endif %}
{% endblock %}


{%  block mainpart  %}
<div class="smallcontainer" style="padding-top:50px;">

	 <img class="icon" src="{{  static_path }}/images/chwphone.png" />
    <div class="infoname" style="font-size: 20px;">Total Number of CHWs</div>
    <div class="moretotal" ><a href="">View by Location</a></div>
    <div class="infodata goodnum">
      <a href="">{{display.chws[0]['total']}}</a>
    </div>



  </div>
  </div>
  
  <div class="humblecontainer">

  	<div class="infoname" style="padding-left:200px; padding-top:50px; padding-bottom: 20px;">ASM ({{display.chws[0]['role_id1']}})</div>
    <div class="datapoint chwcircle" style="margin-left:150px;">
    <div class="descr">Active</div>
    <div class="number"><a href="">{{display.chws[0]['activeasm']}}</a></div>
	</div>
 	<div class="datapoint chwcircle">
    <div class="descr">Inactive</div>
    <div class="number"><a href="">{{display.chws[0]['inactiveasm']}}</a></div>
	</div>

	<div class="infoname" style="padding-left:200px; padding-top:180px; padding-bottom: 20px;">BINOME ({{display.chws[0]['role_id2']}})</div>
	<div class="datapoint chwcircle" style="margin-left:150px;">
    <div class="descr">Active</div>
    <div class="number"><a href="">{{display.chws[0]['activebinome']}}</a></div>
	</div>
 	<div class="datapoint chwcircle">
    <div class="descr">Inactive</div>
    <div class="number"><a href="">{{display.chws[0]['inactivebinome']}}</a></div>
    </div>


  </div>

{%  endblock  %}
