{%  extends "novabase.html" %}
{%  block title %}Ambulances{%  endblock  %}
{%  block subtitle %} Ambulance Registration {%  endblock  %}

{% block menu %}
	<li class="homelink">
            <a href='/dashboards/{{ nav.link("chw", view= "graphic") }}'><span>Statistics</span></a>
          </li>
          <li class="homelink">
            <a href='/dashboards/{{ nav.link("chwreg") }}'><span>Register</span></a>
          </li>
          <li class="homelink">
            <a href='/dashboards/{{ nav.link("chwtrail") }}'><span>CHW Trial</span></a>
          </li>
          <li class="homelink">
            <a href='/dashboards/{{ nav.link("chwstaff") }}'><span>Staff</span></a>
          </li>
	 <li class="homelink">
            <a href='/dashboards/{{ nav.link("chwamb") }}'><span>Ambulance</span></a>
          </li>
{% endblock %}

{% block position %}
<li>&#187; <a href='/dashboards/{{ nav.link("chwamb", view= "graphic", minus = ["group"]) }}'>CHW Ambulance</a></li>
{% if group %}
<li> &#187; {{ group }}</li>
{% endif %}
{% endblock %}


{%  block mainpart  %}
<div class="smallcontainer" style="padding-top:50px;">

	 <img class="icon" src="{{  static_path }}/images/chwphone.png" />
    <div class="infoname" style="font-size: 20px;">Total Number of Ambulances</div>
    <div class="moretotal" ><a href="">View by Location</a></div>
    <div class="infodata goodnum">
      <a href="">{{display.nat[0]['total']|neat_numbers}}</a>
    </div>



  </div>
  </div>
  
  <div class="humblecontainer">
  
<div class="infoname" style="padding-left:200px; padding-top:50px; padding-bottom: 20px;">Register Ambulance</div>
  <form method="POST" class="regform">
	<label id="nid">Name Of Coordinator/Driver: </label>
	<input type="text" name="nid" id="national_id" value="" class="ac_input">
	<br><br>
	<label id="tel">Telephone: </label>
	<input type="text" name="telephone_moh" id="telephone_moh" value="" class="ac_input">
	<br><br>
	<label> District: </label>
	<select name="district" id="district" onChange="changeHps(this.value);"> <option value=""></option> </select>
	<br><br>
  	<label id="referral">Referral Hospital: </label>
	<select name="referral" id="referralchoose"><option></option></select> 
	<br><br>

	<label >Health Center: </label>
	<select name="health_center" id="health_center"><option > </option></select> 
	<br><br>
	<input type="submit" value="Register" />
  </form>


  </div>

<script type="text/javascript">

function changeHcs(value){
		var selected_hcs = _.filter(locations, function(item) {  return item.district_id == value; });
		document.getElementById('health_center').options.length = selected_hcs.length + 1;
		document.getElementById('health_center').options[0] = new Option("", "");
		for ( var i=0; i<selected_hcs.length; i++ ){
						hc = selected_hcs[i];
						document.getElementById('health_center').options[i+1] = new Option(hc.name, hc.id);
							}
}

function changeHps(value){
		var selected_hps = _.filter(hps, function(item) {  return item.district_id == value; });
		document.getElementById('referralchoose').options.length = selected_hps.length + 1;
		document.getElementById('referralchoose').options[0] = new Option("", "");
		for ( var i=0; i<selected_hps.length; i++ ){
						hp = selected_hps[i];
						document.getElementById('referralchoose').options[i+1] = new Option(hp.name, hp.id);
							}
}



$(document).ready(function() {

	var selected_dists = [];
	$.getJSON( "/alldistricts" , function( result ){  //alert(JSON.stringify(result));
	selected_dists = _.map(_.indexBy(result, 'id'), function(obj){return obj});
	
	for ( var i=0; i<selected_dists.length; i++ ){
						district = selected_dists[i]
						document.getElementById('district').options[i+1] = new Option(district.name, district.id);
							}
	});	
	
	$('#district').change(function(evt){    
		var value = $(this).attr('value');
		changeHps(value);
		changeHcs(value);
		
	});

});

</script>

{%  endblock  %}
